<div class="header-settings">
  <div class="row">
    <p class="h1-settings col-xs-12">Projet Gen</p>
  </div>
  <ul class="nav nav-tabs nav-tabs-settings">
    <li role="presentation"><a href="#/dictionary">Dictionnaire</a></li>
    <li role="presentation" class="active"><a href="#/decodedFiles">Fichiers décodés</a></li>
  </ul>
</div>

<div class="content-settings row">
  <div class="col-xs-offset-2 col-xs-8">
    <h2 class="h2-settings">Fichiers décodés</h2>

    <div class="table">
      <table class="table table-hover table-responsive">
        <tr>
          <th>Nom du fichier</th>
          <th>Clé</th>
          <th>md5</th>
          <th>Premier mot</th>
          <th>secret</th>
        </tr>
        <tr ng-repeat="decodedFile in decodedFiles">
          <td>{{ decodedFile.fileName }}</td>
          <td>{{ decodedFile.decodeKey }}</td>
          <td>{{ decodedFile.md5 }}</td>
          <td>{{ decodedFile.firstWord }}</td>
          <td>{{ decodedFile.secret }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>